* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #936afc;
}

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.experience-canvas {
  width: 100%;
  height: 100%;
}